@import "../../constants/constants"

.dropdown
	display: flex
	flex-direction: column
	gap: 5px
	&_active
		display: flex
	&__text
		cursor: pointer
		padding: 0 16px
		width: 100%
	&__lowerText
		&_parse
			padding: 10px 16px
			background-color: $background
			box-shadow:  0 0 10px black inset
